#loadingTable {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 200;
}
.loading_inner {
    background: #111;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.loading_inner img {
    animation: loading-rotate-anime 2s linear infinite;
    width: 40px;
    margin: 30px 0 0 0;
}
@keyframes loading-rotate-anime {
    0%  {transform: rotate(360deg);}
    100%  {transform: rotate(0deg);}
}