
#headerTable {
	display: none;
	margin-top: 30px;
	width: 100%;
	background: #f0f0f0;
	table-layout: fixed;
}
#headerTable td {
	font-size: 12px;
	color:#000;
	padding: 5px 10px;
}
#headerTable td:nth-child(1) {
	width: 25%;
}
#headerTable td:nth-child(2) {
	width: 25%;
}
#headerTable td:nth-child(3) {
	width: 25%;
}

.data_table {
	width: 100%;
	table-layout: fixed;
	background: #fff;
}
.data_table tr:hover td {
	background: #e9e9e9;
}
.data_table td {
	padding: 10px 10px;
	border-bottom: 1px solid #e9e9e9;
}
.data_table td:nth-child(1) {
	width:25%;
}
.data_table td:nth-child(2) {
	width:25%;
}
.data_table td:nth-child(3) {
	width:25%;
}
.data_td_div {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#noData {
	font-size: 12px;
	color:#333;
	line-height: 80px;
	display: none;
}

.dialog_therapist {
	width:600px;
}
@media screen and (max-width: 600px) {
	.dialog_therapist {
		width: 90%;
	}
}

.dialog_therapist_table {

}
.dialog_therapist_table td {
	vertical-align: top;
	padding: 0 5px;
}
.dialog_therapist_title {
	font-size: 12px;
	color:#666;
	margin-top: 15px;
}
.dialog_therapist_value {
	word-break: break-all;
	margin-top: 3px
}