
input {
    width:100%;
    height:40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
}
input:focus {
    outline: none;
    border: 1px solid #507297;
}