
.top_img_pc {
    display: inline;
    width: 100%;
}
.top_img_sp {
    display: none;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .top_img_pc {
        display: none;
    }
    .top_img_sp {
        display: inline;
    }
}

.ideal_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
}
.ideal_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(79, 115, 150);
    border-radius: 999px;
}
@media screen and (max-width: 600px) {
    .ideal_title {
        font-size: 22px;
    }
}

.ideal_body {
    width: 900px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
}
.ideal_body_red {
    font-size: 20px;
    font-weight: bold;
    color: #f41919;
}
@media screen and (max-width: 900px) {
    .ideal_body {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .ideal_body {
        width: 90%;
    }
}

.point_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
}
.point_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(232, 166, 44);
    border-radius: 999px;
}

.point_root {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}
.point_base {
    display: inline-block;
    width:30%;
    text-align: center;
    vertical-align: top;
}
.point_img {
    width: 90%;
}
.point_text {
    text-align: center;
    margin-top: 20px
}
.point_padding {
    display: inline-block;
    width:3%;
}
@media screen and (max-width: 900px) {
    .point_root {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .point_root {

    }
    .point_base {
        display: block;
        width:100%;
    }
    .point_img {

    }
    .point_text {

    }
    .point_padding {
        display: block;
        height:40px;
    }
}

.feature_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
    color: #507297;
}
.feature_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(79, 115, 150);
    border-radius: 999px;
}

.feature_root {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.feature_base {
    display: inline-block;
    width:31%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    vertical-align: top;
}
.feature_img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.feature_sub_title {
    color:#507297;
    font-weight: bold;
    font-size: 22px;
    padding:20px 20px;
}
.feature_body {
    padding: 0 20px 20px 20px;
    font-size: 14px;
}
.feature_h_padding {
    display: inline-block;
    width:1%;
}
.feature_v_padding {
    height:30px;
}
@media screen and (max-width: 900px) {
    .feature_root {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .feature_root {

    }
    .feature_base {
        display: block;
        width: 100%;
    }
    .feature_img {

    }
    .feature_sub_itle {

    }
    .feature_body {

    }
    .feature_h_padding {
        display: block;
        height: 30px;
    }
    .feature_v_padding {

    }
}

.register_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
}
.register_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(79, 115, 150);
    border-radius: 999px;
}
.register_title span {
    color:#507297;
    font-size: 34px;
}
.register_sub_title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.register_img_pc {
    display: inline;
    width: 600px;
}
.register_img_sp {
    display: none;
    width: 90%;
}
@media screen and (max-width: 800px) {
    .register_title {
        font-size: 16px;
    }
    .register_title span {
        font-size: 22px;
    }
    .register_sub_title {
        padding: 0 20px;
    }
    .register_img_pc {
        display: none;
    }
    .register_img_sp {
        display: inline;
    }
}

.app_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
}
.app_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(232, 166, 44);
    border-radius: 999px;
}

.app_img_pc {
    display: inline;
    width: 800px;
}
.app_img_sp {
    display: none;
    width: 80%;
}
@media screen and (max-width: 800px) {
    .app_img_pc {
        display: none;
    }
    .app_img_sp {
        display: inline;
    }
}

.image_root {
    background: #FDF4DF;
    border-radius: 10px;
    width:400px;
    margin:0 auto;
}
@media screen and (max-width: 400px) {
    .image_root {
        width:90%;
    }
}

.bannar_base {
    width:100%;
}
.bannar_title {
    color:#f41919;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.bannar_link {
    background: #52B534;
    color:#fff !important;
    border-radius: 10px;
    padding:15px 40px;
    font-size: 24px;
    display: inline-block;
}
@media screen and (max-width: 900px) {
    .bannar_title {
        font-size: 34px;
    }
    .bannar_link {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .bannar_base {
        width:90%;
        margin:0 auto;
    }
    .bannar_title {
        font-size: 20px;
    }
    .bannar_link {
        font-size: 16px;
        padding:15px 20px;
    }
}

.support_root {
    width:800px;
    margin: 0 auto;
    background: #FDF8E5;
    text-align: center;
}
.support_info {
    display: inline-block;
    margin:30px auto 0 auto;
    text-align: left;
}
@media screen and (max-width: 800px) {
    .support_root {
        width: 90%;
    }
    .support_info {
        text-align: center;
        padding: 0 20px;
    }
}

.owner_img_pc {
    display: inline;
    width: 500px;
}
.owner_img_sp {
    display: none;
    width: 60%;
}
@media screen and (max-width: 900px) {
    .owner_img_pc {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    .owner_img_pc {
        display: none;
    }
    .owner_img_sp {
        display: inline;
    }
}

.reward_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
    color:#507297;
}
.reward_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(79, 115, 150);
    border-radius: 999px;
}

.reward_root {
    font-size: 0;
    margin: 30px auto 0 auto;
    width:900px;
}
.reward_base {
    display: inline-block;
    width:31%;
    vertical-align: top;
    text-align: center;
}
.reward_img {
    width: 70%;
}
.reward_name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.reward_info_base {
    background: #fff;
    border-radius: 10px;
    padding:20px 30px;
    margin-top: 20px;
}
.reward_info_table {
    width: 100%;
}
.reward_info_table td:nth-child(1) {
    width:35%;
    font-weight: bold;
    font-size: 12px;
}
.reward_info_table td:nth-child(2) {
    font-weight: bold;
    color:#507297;
    font-size: 13px;
}
.reward_notes {
    font-size: 12px;
    margin-top: 10px;
}
.reward_padding {
    display: inline-block;
    width:2%;
}
@media screen and (max-width: 900px) {
    .reward_root {
        width: 90%;
    }
    .reward_base {
        display: block;
        width: 100%;
    }
    .reward_padding {
        display: inline-block;
        height:30px;
    }
}

.faq_title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: bold;
}
.faq_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: rgb(79, 115, 150);
    border-radius: 999px;
}

.faq_table {
    width:900px;
    margin:0 auto 10px auto;
    padding: 20px 40px;
}
.faq_table th {
    text-align: left;
    font-weight: normal;
}
.faq_table th:nth-child(1) {
    width:50px;
    font-size: 34px;
    color:#507297;
    vertical-align: top;
    
}
.faq_table th:nth-child(2) {
    color:#507297;
    font-size: 20px;
}
.faq_table td:nth-child(1) {
    font-size: 34px;
    color:#507297;
    vertical-align: top;
    padding-left: 10px;
}
.faq_table td:nth-child(1) img {
    width:24px;
}
.faq_b {
    background: #F6F9FB;
}
.faq_y {
    background: #FDF8E5;
}
@media screen and (max-width: 900px) {
    .faq_table {
        width:90%;
    }
}

.area_img {
    width: 400px;
}
@media screen and (max-width: 600px) {
    .area_img {
        width: 60%;
    }
}